* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #root {
  height: 100dvh;
} */

body {
  width: 100%;
  height: 100%;
}

.layout {
  height: 100dvh;
  padding: 2rem 0rem 2rem 10rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:root {
  font-size: calc(6.4px + 0.75vw);
  font-weight: 100;
  color: white;
  --font-family-regular: "Barlow", sans-serif;
  --font-family-display: "Cormorant Infant", serif;
  font-family: var(--font-family-regular);
}

li {
  list-style-type: none;
}

h1 {
  font-size: 9rem;
  font-family: var(--font-family-display);
  font-weight: 400;
}

.destination-content h1 {
  font-size: 7.5rem;
}

h3 {
  font-weight: 200;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.crew-content h2 {
  font-family: var(--font-family-display);
  font-weight: 100;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.514);
}

.page-header span {
  color: rgba(255, 255, 255, 0.514);
  margin-right: 1rem;
  font-weight: 500;
}

h4 {
  font-weight: 300;
  font-family: var(--font-family-display);
  font-size: 1.5rem;
}

p {
  font-size: 16px;
  text-align: justify;
  line-height: 2;
}
button {
  all: unset;
  font-weight: 100;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 2.5rem;
  left: 4rem;
}

.nav-link,
.destination-button,
.destination-stats p,
.technology-content h2 {
  /* font-size: 16px; */
  font-weight: 100;
}

/* NAV BAR */

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar .header-line {
  height: 0;
  border-top: 1px solid white;
}

.nav-bar > div {
  flex: 1 1 40%;
  margin-right: -2rem;
  z-index: 1;
}

.nav-bar ul {
  height: 4rem;
  padding: 0 5rem 0 5rem;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  flex: 1 1 60%;
  display: flex;
  gap: 2rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

.nav-bar li {
  display: flex;
}

.nav-link {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 5px solid transparent;
  border-left: none;
  border-right: none;
}

.nav-link.active {
  border-bottom: 5px solid white;
}

.nav-link:hover:not(.active) {
  border-bottom: 5px solid rgba(255, 255, 255, 0.377);
}

.nav-bar span {
  font-weight: 500;
  padding: 0 0.25rem;
}

/* NAV BAR */

.main-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /* margin-right: 10rem; */
}

.main-content.home-page {
  margin-top: 10rem;
}

.main-content.destination-content {
  margin-top: 4rem;
  margin-right: 10rem;
  gap: 4rem;
}

.main-content.technology-content {
  align-items: stretch;
  margin-top: 4rem;
}

/* .main-content.technology-content {
  justify-content: space-between;
} */

/* HOME PAGE */

.col-left {
  flex: 1 1 40%;
}

.col-right {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
}

.home-explore-button {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  font-size: 2.25rem;
  background-color: white;
  border: 2rem solid transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 400;
  background-clip: padding-box;
  box-sizing: content-box;
  transition: border 0.3s ease;
}

.home-explore-button:hover {
  border-color: rgba(255, 255, 255, 0.418);
}

/* HOME PAGE */

/* Destination Page */
/* 
.main-content.destination-page {
  flex-direction: column;
}



.destination-content {
  display: flex;
  flex-grow: 1;
} */

.destination-page {
  max-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-header {
  margin: 2.5rem 0 0 0;
}

.destination-page .col-right {
  flex-direction: column;
  flex: 1 1.5 40%;
}
.destination-page .col-left {
  flex: 1.5 0.75 40%;
}

.destination-page .col-right > p {
  margin-bottom: 2rem;
}

.destination-stats {
  border-top: 1px solid white;
  display: flex;
}
.destination-stats > * {
  flex: 1 1 50%;
  padding-top: 2rem;
}

.main-content ul {
  justify-content: space-between;
}

/* .main-content.destination-content img {
  margin: 0 10rem 0 0;
} */

.destination-button {
  color: white;
  background-color: transparent;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid transparent;
}
.destination-button.active {
  border-color: white;
}

.destination-button:hover:not(.active) {
  border-color: rgba(255, 255, 255, 0.267);
}

.destination-stats p {
  margin-bottom: 0.5rem;
}

/* .destination.img-container {
  margin: 0 10rem 0 0;
} */

.destination-content img {
  width: 100%;
  max-width: 500px;
}

.destination-content h1 {
  font-size: 5rem;
}
/* .destination-content {
  display: flex;
  flex-grow: 1;
} */

/* Destination Page */

/* CREW */
.main-content.crew-content {
  justify-content: space-between;
}

.crew-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content.crew-content {
  flex-grow: 1;
  margin-right: 10rem;
}

.crew-page h1,
.technology-content h1 {
  font-size: 4rem;
  text-wrap: nowrap;
}

.crew.col-left {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  gap: 2rem;
  flex: 1 1.5 40%;
  margin-right: 2rem;
}

.crew.col-right {
  position: relative;
  height: 100%;
  flex: 1.5 0.75 60%;
}

.crew.col-right img {
  position: absolute;
  bottom: -2rem;
  width: 100%;
  max-width: 500px;
}

.crew-buttons {
  position: absolute;
  bottom: 5rem;
  width: 15rem;
}

.crew-button {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
}

.crew-button.active {
  background-color: white;
}

.crew-button:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.281);
}

/* CREW */

/* Technology */

.technology-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.technology-buttons {
  display: flex;
  flex-direction: column;
}

.technology-button {
  height: 4rem;
  width: 4rem;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  border-radius: 50%;
}

.technology-button.active {
  background-color: white;
  color: black;
}

.technology-button:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.247);
}

.technology.col-right {
  flex: 1 1 40%;
}
.technology.col-left {
  flex: 1 1 60%;
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.technology.img-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.technology.img-container img {
  width: 100%;
  max-width: 500px;
}
.hamburger {
  visibility: hidden;
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 3.5rem;
  right: 4rem;
}

.nav-bar.open {
  visibility: visible;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.nav-bar.open ul {
  flex-direction: column;
  height: 100%;
  padding: 6rem 4rem;
  border-radius: 10px;
  z-index: 2;
}

.layout:has(.nav-bar.open) {
  padding-top: 6rem;
}

/* Technology */

@media (max-width: 850px) {
  /* .nav-link,
  p {
    font-size: 12px;
  } */

  .layout {
    padding: 2rem 0rem 2rem 5rem;
    overflow-y: auto;
  }

  .nav-bar {
    padding-left: 5rem;
  }
  .main-content.home-page {
    padding-right: 5rem;
    flex-direction: column;
  }

  .home.col-left {
    text-align: center;
  }

  .home-explore-button {
    margin-top: 7rem;
  }

  .main-content.destination-content {
    flex-direction: column-reverse;
    margin-right: 5rem;
  }

  .main-content.crew-content {
    flex-direction: column;
    margin-right: 5rem;
  }

  .crew-content img {
    width: 250px !important;
  }

  .crew-buttons {
    z-index: 1;
  }

  .crew.col-left {
    z-index: 1;
    margin-right: 0;
    margin-top: 2rem;
  }

  .main-content.technology-content {
    flex-direction: column;
    padding-right: 5rem;
  }

  .technology-buttons {
    flex-direction: row;
  }

  .technology.col-left {
    margin: 2rem 0;
  }

  .technology.col-left h1 {
    text-wrap: wrap;
    text-align: center;
    margin: 1rem 0;
  }

  .technology.img-container {
    justify-content: center;
    height: 100%;
  }

  .technology.img-container img {
    height: 100%;
  }

  .nav-bar ul {
    gap: 1rem;
    padding: 0 2.5rem;
  }

  .hamburger {
    visibility: visible;
    z-index: 3;
  }

  .nav-bar {
    visibility: hidden;
  }
}

@media (min-width: 850px) {
  .nav-link,
  p {
    font-size: 1.15rem;
  }
}
